.Nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #28407d;
}

.bar__switcher {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.banner__title {
    width: 60px;
    height: 30px;
    border: 1px dashed #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}

.banner__title.active {
    color: rgb(255, 201, 22);
    border: 1px dashed rgb(255, 201, 22);
    text-shadow: 0px 0px 8px rgba(253,231,142,0.4);
    box-shadow: 0px 0px 5px 0px rgba(248,217,89,0.4) inset;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(248,217,89,0.4) inset;
    -moz-box-shadow: 0px 0px 5px 0px rgba(248,217,89,0.4) inset;
}

.switcher {
    position: relative;
    margin-left: 20px;
    display: block;
    content: '';
    width: 20px;
    height: 40px;
    border: 2px solid rgb(83, 121, 172);
    border-radius: 4px;
    background-color: #ebece2;
    cursor: pointer;
}

.switcher::before {
    position: absolute;
    display: block;
    width: 1px;
    height: 20px;
    content: '';
    left: 50%;
    top: 8px;
    background-color: #aaa
}

.switcher::after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    left: calc(50% - 5px);
    top: 24px;

    border-radius: 50%;
    background-color: #111;
    transition: all ease-out .2s;
}

.switcher.active::after {
    top: 3px;
}

/************* MAIL, BURGER BLOCK AND MODAL **************/

.nav__inner__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.nav__privmes {
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__privmes.show {
    display: flex;
}

.privmes__wrapper {
    margin-right: 10px;
    position: relative;
    display: block;
    height: 20px;
}

.privmes__img {
    display: block;
    height: 100%;
}

.privmes__wrapper.active::after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    right: -5px;
    top: -5px;

    border-radius: 50%;
    background-color: rgb(243, 29, 29);
    z-index: 10000;
}

.privmes__count {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #f1ecec;
}

.burger__block {
    margin-left: 40px;
    position: relative;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
}

.burger__block:hover {
    border: 1px solid rgb(255, 165, 48);
}

.line__burger {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #fff;
}

.burger__block::before,
.burger__block::after {
    display: block;
    position: absolute;
    content: '';
    left: calc(50% - 20px);
    width: 40px;
    height: 3px;
    background-color: #fff;
}

.burger__block::before {
    top: 20%;
}

.burger__block::after {
    left: calc(50% - 20px);
    top: 74%;
}

.inner__burger {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
    max-width: 420px;
    height: calc(100vh - 60px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #777;
    border-radius: 0px 0px 6px 6px;

    background-color: #fefefe;
    overflow: hidden;
}

.inner__burger.show {
    display: flex;
}

.burger__item {
    margin-bottom: 30px;
    padding: 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.burger__item:hover {
    background-color: #ecf7fd;
}